.navbar{ background:#91d1ff; opacity:0.7;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: :border-box;
}
#Login{
     /* “background-color: rgb(0,0,255); opacity: 0.5;*/
    background:url(Imagenes/4.jpg);
    background-repeat: no-repeat;
    min-height:100px;

}
form{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    max-width: 500px;
    background-color: rgb(0,0,);
    opacity:;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0,2);
}
#Inicio1{
    text-align: center;
    margin-bottom: 20px;
    color: #7B726F;

}
h7{
    color: #0F74DB;
}

.aa,.BIngresar,.BRecuperar{
    display: block;
    padding: 10px;
    width: 100%;
    /*margin: 30px 0;*/
    font-size: 16px;

}
.BIngresar{
    background: linear-gradient(#F9FF19,#FFB940);
    border: 0;
    color: #FF7C19;
    opacity:0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
.BRecuperar[type="submit"]{

    border: 0;
    color: black;
    opacity:0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}
@media(max-width:76px){
    form{
        width: 75%;
    }
}
#Inicio{
    padding:100;
    width:70px;
    height: 120px;
    margin:  13px;

}
#Inico:hover{
    opacity:3;
}
#Inicio:active{
    transform: scale(0.9);
}

/*------------------Registro---------------------- */
#checkbox{
     /* Doble-tamaño Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1.4); /* Safari y Chrome */
  -o-transform: scale(1.9); /* Opera */
  padding: 10px;
}
#qq{
    color:black;
}
#oo{
    font-size: 18px;
    margin-right: auto;
}
#R{

    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    max-width: 500px;
    background-color: rgb(0,0,);
    opacity:;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0,2);

}
.i{
    display: block;
    padding: 10px;
    width: 100%;
    /*margin: 30px 0;*/
    font-size: 16px;
}
#RB{
    background:url(Imagenes/4.jpg);
    background-repeat: no-repeat;
    display:flex;
    min-height:100px;
}
#boton{
    padding: 10px;
    border: 0;
    color: black;
    opacity:0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;

}
#boton,#oo{
    margin: 3px 30px;
}
#boton:hover{
    opacity: 1;
}
#boton:active{
    transform: scale(0.95);
}
#checkbox:active{
    transform: scale(0.95);
}
@media(max-width:76px){
    #RB{
        width: 75%;
    }
}
/*------------------Equipo de Trabajo---------------------- */
#h1s{

}
#bos{
    color: azure;
    background-color: #262220;
    font-size: 2em;
}
.info{
    display: block;
    left: 0;
    padding: 5;
}
img{
    margin: auto;
    display: block;
    width:250px;
    height:250px;
    border-radius:150px;
}

