/*NAVBAR GENERAL */
.barra{
    background: #91d1ff;
    opacity:0.7;
}

.menu_bar{
    display: none;
}

.items_list{
    overflow: hidden;
    list-style: none;
}

.items_list a{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.items_list a:hover{
    background: #037E8C;
    text-decoration: none;
    color: #fff;
}

.items_list span{
    margin-right: 10px;
}

.items_nav{
    float: left;
}

@media screen and (max-width:800px){

    .barra{
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 0 ;
        position: fixed;
    }

    .menu_bar{
        position: fixed;
    }

    .items_nav{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .boton_menu{
        display: block;
        padding: 20px;
        background: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box ;
        -moz-box-sizing:border-box ;
        box-sizing: border-box;
        cursor: pointer;
    }

    .menu_bar span{
        float: right;
        font-size: 40px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------*/

html {
    font-size: 20.50px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .002em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h3{ color: #100F0F;
     font-size: 2em;
    position: relative;

}
#imagen1{
margin-right: 12px;
margin-bottom: 20px;
shape-image-threshold: 0.5;
shape-margin: 20px;
float: left;


}
#imagen2{
margin-right: 20px;
margin-bottom: 20px;
shape-image-threshold: 0.5;
shape-margin: 20px;
float: left;

}

Body{
     /* “background-color: rgb(0,0,255); opacity: 0.5;*/
 background-attachment: fixed;
    background-image: url(pictures/PictureXD.jpg);
    background-repeat: no-repeat;

    /*background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;*/
}

/*p3{
    color:#695C5C;
    font-weight: bold;
    font-size: 2em
}

p2{
    color: white;
    font-weight: bold;
    font-size: 1.5em
}*/

form{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    max-width: 500px;
    background-color: rgb(0,0,);
    opacity:;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0,2);
}
.aa,.BRecuperar{
    display: block;
    padding: 10px;
    width: 100%;
    /*margin: 30px 0;*/
    font-size: 16px;

}
.BRecuperar[type="submit"]{

    border: 0;
    color: black;
    opacity:0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
#c{
    text-align: center;
    margin-bottom: 20px;
    color: #7B726F;

}
input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}
@media(max-width:76px){
    form{
        width: 75%;
    }
}
