.navbar{ background:#ff6961;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #ff6961; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
h2{ color: #ff6961;
    font: 'Roboto';
    position: relative;
    font-size: 4em;
}

Body{
     /* “background-color: rgb(0,0,255); opacity: 0.5;*/
    background-image: url(pictures/Picture2.jpg);
    background-repeat: no-repeat;
}

p{
    color: :#ffa09b;
    font-weight: bold;
    font-size: 2em
}

p2{
    color: white;
    font-weight: bold;
    font-size: 1em
}
