/*NAVBAR GENERAL */
.barra{
    background: #91d1ff;
    opacity:0.7;
}

.menu_bar{
    display: none;
}

.items_list{
    overflow: hidden;
    list-style: none;
}

.items_list a{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.items_list a:hover{
    background: #037E8C;
    text-decoration: none;
    color: #fff;
}

.items_list span{
    margin-right: 10px;
}

.items_nav{
    float: left;
}

@media screen and (max-width:800px){

    .barra{
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 0 ;
        position: fixed;
    }

    .menu_bar{
        position: fixed;
    }

    .items_nav{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3);
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .boton_menu{
        display: block;
        padding: 20px;
        background: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box ;
        -moz-box-sizing:border-box ;
        box-sizing: border-box;
        cursor: pointer;
    }

    .menu_bar span{
        float: right;
        font-size: 40px;
    }
}

/*---------------------CARUSEL--------*/









@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}


html, body {
  height: 100%;
}



body {
  color: #686262;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #000000;
  margin-bottom: 3rem;
  max-width: 300px;
}
#ONE{
    background-image: url(pictures/1.jpg);
    background-repeat:no-repeat;
    position: relative;
    margin-top:54px;
    margin-bottom:0px;
     margin-right:35px;
    margin-left:35px;

}
#TWO{
   background-image: url(pictures/2.jpg);
   background-repeat:no-repeat;
   position: relative;
   margin-top:54px;
   margin-bottom:0px;
   margin-right:35px;
   margin-left:35px;
}
#tres{
   background-image: url(pictures/3.jpg);
   background-repeat:no-repeat;
   position: relative;
   margin-top:54px;
   margin-bottom:0px;
   margin-right:35px;
   margin-left:35px;
}
#cuatro{
   background-image: url(pictures/4.jpg);
   background-repeat:no-repeat;
   position: relative;
   margin-top:54px;
   margin-bottom:0px;
   margin-right:35px;
   margin-left:35px;

}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

