
.navbar{ background:#ff6961;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #ff6961; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
h2{ color: #ff6961;
    font: 'Roboto';
    position: relative;
    font-size: 72;
}
.grey{
    color: dimgray;
}

Body{
     /* “background-color: rgb(0,0,255); opacity: 0.5;*/
    background-image: url(pictures/Picture1.jpg);
    background-repeat: no-repeat;
}

label{
    color: white;
}
