/*NAVBAR GENERAL */
.barra {
    background: #91d1ff;
    opacity: 0.7;
}

.menu_bar {
    display: none;
}

.items_list {
    overflow: hidden;
    list-style: none;
}

.items_list a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}

.items_list a:hover {
    background: #037E8C;
    text-decoration: none;
    color: #fff;
}

.items_list span {
    margin-right: 10px;
}

.items_nav {
    float: left;
}

/* ------------------------------------------------------------------------------------------------------------------------------*/
#titulo {
    text-align: center;
    font-weight: bold;
}

#formulair {}

#nombresinho {
    color: #E1EF02;
    margin: 15px;

}

#IMGPostre {
    height: 500px;
    width: 800px;
    max-width: 800px;
    margin: 15px;

}

#R {
    background-image: url(pictures/rechazar.png);

}

#G {
    background-image: url(pictures/Gustar.png);


}

#SG {
    background-image: url(pictures/SUPERGustar.png);


}

.botones {
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-position: center;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    display: block;

}


.botex button {
    grid-row: 1;
}

.boxes button:nth-of-type(2) {
    grid-column: 3;
}

.boxes button:nth-of-type(3) {
    grid-column: 2;
}

.boxes button:nth-of-type(4) {
    grid-column: 1;
}

input[type="button"]:hover {
    opacity: 1;
}

input[type="button"]:active {
    transform: scale(0.92);
}

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    padding: 30px;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer {
        font: normal 20px/1.5 "Helvetica Neue", sans-serif;
        font-weight: bold;
    }
